/*This section affects everything*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*These tags are affected throughout the page*/
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    color: darksalmon;
}

p {
    font-size: 20px;
}
/*End general tag Style*/


/*Affects the body element*/
body {
    background-color: #d9dcd6;
}

/*These sections pertain to the header section and it's children*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #285C76;
    color: #ffffff;
}

/*Since there isn't a comma between header and h1, this affects the h1 tag within the header parent*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #cfcfcf;
}

nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*End Header style elements*/

/*This section of style pertains to the main image on the homepage*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

figcaption {
    display: none;
}
/*END figure style*/

/*This section of style pertains to the <main> parent*/
main{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: solid;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: solid;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: solid;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*END main content style*/

/*This section of the style pertains to the <aside> tag*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*END <aside> Style */

/*This section pretains to <FOOTER> tag*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/*END style for <FOOTER> tag*/